<mat-card>
  <div class="row">
    <mat-card class="col-sm-4 espacio" [class.mat-elevation-z20]="true">
      <mat-card-header>
        <mat-card-title>Misión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Somos una empresa que brinda servicios de rastreo,tuneo y venta de
          accesorios con el fin de contribuir de dar buenas expectativas a
          nuestros clientes con accesorios de gran calidad,para el sector de
          vehículos menores
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="col-sm-4 espacio" [class.mat-elevation-z20]="true">
      <mat-card-header>
        <mat-card-title>Visión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ser la mejor opción para los usuarios de accesorios para motos y así
          crecer y seguir brindando a nuestros clientes una gran calidad y
          variedad e accesorios.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
