<mat-card class="fondo">
  <mat-card-header>
    <mat-card-title> <span class="mat-display-1">Bienvenido A la tienda online de Accesorios para motos</span> </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-h2">somos una tienda de gran calidad te ofrecemos los mejores Accesorios pata tu motos
      Ademas de brindar seguridad con nuestros dispositos de rastreo satelital
    </p >
    <p class="mat-h2">Ubicanos en la avenida buenos aires o en nuestras siguientes redes sociales</p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button color="primary" mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>email</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<app-cards></app-cards>

