<mat-card class="example-card" [class.mat-elevation-z20]="true">
  <mat-card-title>
    Identificate
  </mat-card-title>
    <form  class="row">
    <mat-form-field appearance="fill">
      <mat-label>Ingrese tu email</mat-label>
      <input matInput placeholder="pat@example.com"  required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-card-actions>
      <button mat-flat-button color="primary" >Crear Cuenta</button>
      <button type="submit" mat-flat-button color="primary">Ingresar</button>
    </mat-card-actions>
    </form>
</mat-card>
